.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
	white-space: wrap;
}

.content {
  width: 100%;
  max-width: 600px;
}

.content__table {
  margin-bottom: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__th {
  background-color: #afcde7;
}

.table__th,
.table__td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

.table__td {
	padding: 10px;
	background: #D8E6F3;
}

.table__td-name {
	width: 100px;
}

.table__td-phone {
	width: 100px;
}

.table__td-btn {
	max-width: 50%;
}

.table__td-name,
.table__td-phone {
  padding-right: 15px;
}

.table__td-name input:read-only,
.table__td-phone input:read-only {
  border: 1px solid transparent;
	outline: none;
	background: #D8E6F3;
}

.table__td-error {
  position: relative;
}

.table__td-error input {
	border: 1px solid red;
}

.table__td-error::after {
  position: absolute;
  content: "!";
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 700;
  color: red;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.form__field {
  width: 100%;
}

.form__btn {
  width: 25%;
  justify-self: end;
}

.filed-input {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
}

.filed-input__label {
  width: 100%;
}

.filed-input__input {
  width: 100%;
}

.filed-input__message {
  grid-column: 2 / 3;
}
